<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Prodotto in vendita</title>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <script src="vue.min.js", type="text/javascript"></script>
    </head>
    <body>
        <div class="nav-bar"></div>
        <div id="app">
            <div class="cart">
                <p>Carrello ({{ cart }})</p>
            </div>
            <div class="product">
                <div class="product-image">
                    <img v-bind:src="image"/>
                </div>
                <div class="product-info">
                    <h1>Prodotto in vendita: {{ product }}</h1>
                    Descrizione: {{ description }}
                    <p v-if="disp > 10 && onSale">Disponibile</p>
                    <p v-else-if="disp <= 10 && disp > 0 && onSale">Ultime scorte!!</p>
                    <p v-else>Non disponibile...</p>
                    <ul>
                        <li v-for="x in details"> {{ x.text }} </li>
                    </ul>
                    <div v-for="(x, index) in variants" :key="x.Id" class="color-box"
                    v-bind:style="{ backgroundColor: x.htmlColor }">
                        <p v-on:click="updateProduct(index)"> {{ x.color }} </p>
                    </div>
                    <button v-on:click="addToCart()"
                    v-bind:disabled="!onSale || disp==0"
                    v-bind:class="{ disabledButton: !onSale || disp==0 }">
                    Aggiungi al carrello
                    </button>
                </div>
            </div>
        </div>
        <script src="mascherinaMain.js" type="text/javascript"></script>
    </body>
</html>