<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Prodotto in vendita</title>
        <script type="text/javascript" src="vue.min.js"></script>
    </head>
    <body>
        <div id="app">
            <ul>
                <li v-for="x in details">{{ x.text }}</li>
            </ul>
            <div v-for="x in variants" :key="x.Id">
                <p>{{ x.color }}</p>
            </div>
        </div>
        <script type="text/javascript" src="mascherina2.js"></script>
    </body>
</html>